@charset "utf-8";
/* CSS Document */
body {/*
	background: url(../images/bg.jpg);*/
	background-color: #FFF;
	color:  #010;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	width:100%;
	/*min-width: 960px;*/
	padding: 0;
}
/*====================================================Header==========================================================*/
a {
	outline: none;
}
img {
	border: 0;
}
.header {
	/*min-height: 300px;*/
	height:110px;
	width:100%;
	position: relative;
	/*border-bottom-style:solid;
	border-bottom-color:#400;*/
	top: 0;
}
.header .section {
	background: none;
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}
.header .section a {
	display: inline-block;
	float: left;
	margin: 21px 0 0;
}
.header .section a .gbr{
	border:0;
}
.header .section ul {
	float: right;
	list-style: none;
	margin: 54px 0 0;
	padding: 0;
}
.header .section ul li {
	float: left;
}
.header .section ul li:hover {
	border-radius:4px;
	border-bottom: groove;
	border-bottom-color:#F63;
	/*color: #1f1005;*/
	text-shadow: 0 1px #F90;
}
.header .section ul li.current a {
	background: url(images/beautiful-background-20.jpg) no-repeat;
	border-radius:4px;
	/*color: #1f1005;*/
	text-shadow: 0 1px #F90;
}
.header .section ul li a {
	display: block;
	color:#C30;
	float: none;
	font-size: 16px;
	height: 49px;
	line-height: 49px;
	margin: 0;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	width: 130px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Tampilan Index.html>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*====================================================Gambar Utama==========================================================*/
.utama{
	/*background: url(../images/5379918_20130420105612.jpg) repeat-x center top;
	background-color:#3F0;*/
	width:98%;
	height:600px;
	margin:1%;
}
.utama #slider ul,.utama #slider li/*,.utama #slider2 ul,.utama #slider2 li*/{
	margin:0;
	padding:0;
	list-style:none;
}
/*#slider2{
	margin-top:1em;
}*/
.utama #slider li/*, #slider2 li*/{
	width:1324px;
	height:600px;
	overflow:hidden; 
}
.utama #slider .daftar{
	float:right;
	width:20%;
	background-color:#010 transparent;
}
/*.utama .signup{
	float:right;
	border:0;
	border-radius:6px;
	background-color:#555;
	width:310px;
	height:540px;
	padding:8px;
	text-align:justify;
	font-size:14px;
}*/

/*====================================================Login==========================================================*/
.login{
	background: url(images/header%20background.jpg) center;
	width:100%;
	height:350px;
	color:#330;
	font-family:Verdana, Geneva, sans-serif;
	margin-bottom:10px;
	padding-top:10px;
}
.login .pagar{
	float:left;
	width:50%;
}
.login .pagar .signin{
	/*background:#09F;*/
	float: right;
	width:75%;
	margin:0;
	padding:0;
}
.login .pagarkanan{
	float:right;
	width:50%;
}
.login .pagarkanan .signup{
	/*background:#09F;*/
	float:left;
	width:75%;
	margin:0;
	padding:0;
}
.judulin{
	border-bottom:solid;
	border-bottom-color: #FC0;
	float: left;
	margin: 0;
	height:16px;
	position: static;
	width: 98%;
}
.judulin h2{
	background: url(images/header-bg.png);
	color: #1f1005;
	font-size: 20px;
	font-style: italic;
	height: 34px;
	margin: 0;
	position: absolute;
	text-align: center;
	text-shadow: 0 1px #ffc600;
	width: 120px;
	border-radius:6px;
}
.formdaftar{
	background: rgba(0,0,0,0.9);
	margin:20px;
	padding:20px;
	color:#9FF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	font-style:italic;
	border-radius:6px;
}
.formdaftar input{
	border-radius:6px;
	width:300px;
	border:solid;
	border-color:#000;
	font-size:20px;
	color:#222;
	margin:5px;
	padding:4px;
}
.formdaftar input .klik{
	background:url(images/header-bg.jpg);
	border-radius:6px;	
}


/*====================================================Tampilan Event Band==========================================================*/
.tampil{
	/*background:url(images/A_Website_Background.png);*/
	width:98%;
	height:800px;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:5px;
}
.tampil .garistengah{
	float:left;
	width:50%;
	height:100%;
}
.tampil .garistengah .tamevent{
	/*background:#09F;*/
	float:right;
	width:75%;
	height:100%;
	/*border-right:solid;
	border-right-color:#AAA;*/
}
.tampil .bagkanan{
	float:right;
	width:50%;
	height:100%;
}
.tampil .bagkanan .daftband{
	/*background:#09F;*/
	float:left;
	width:75%;
	height:100%;
	margin:0;
	padding:0;
}

.titel{
	border-bottom:solid;
	border-bottom-color: #FC0;
	float: left;
	margin: 0;
	height:20px;
	position: static;
	width: 98%;
}
.titel h2{
	background: url(images/header-bg.png);
	color: #1f1005;
	font-size: 22px;
	font-style: italic;
	height: 40px;
	margin: 0;
	position: absolute;
	text-align: center;
	text-shadow: 0 1px #ffc600;
	width: 100px;
	border-radius:6px;
}
.tulisan{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	color:#777;
	font-style:normal;
}
.more{
	width:100px;
	height:40px;
	font-size:18px;
	color:#222;
	border-radius:4px;
}
.more:hover{
	background: url(images/bg-soil.jpg) no-repeat;
	color:#EEE;
}

/*====================================================footer==========================================================*/
.footer {
	/*min-height: 300px;*/
	float:left;
	background:#000;
	height:50px;
	width:98%;
	padding:1%;
}
.footer div.secti {
	background: none;
	margin: 0 auto;
	overflow: hidden;
	width: 60%;
	float:right;
}
.footer div.secti a {
	display: inline-blok;
	float: left;
	margin:0;
}
.footer div.secti ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer div.secti ul li {
	float: left;
}
.footer div.secti ul li:hover {
	color: #FFC;
	text-shadow: 0 1px #CCC;
}
.footer div.secti ul li.pilih a {
	text-shadow: 0 1px #CCC;
}
.footer div.secti ul li a {
	display:list-item;
	color:  #FFF;
	float: none;
	font-size: 13px;
	height: 30px;
	line-height: 20px;
	margin: 0;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	width: 220px;
}
.footer .snetwork{
	background:none;
	float:left;
	height:20px;
	width:100px;
}
/*====================================================Koneksi Sosial Media=============================================================*/

.connect a {
	background:url(images/iconss.png);
	float:left;
	/*display: inline-block;*/
	height: 33px;
	margin: 10px 12px; 
}
.connect a.facebook {
	background-position: -46px -112px;
	width: 33px;
}
.connect a.googleplus {
	background-position: -46px -153px;
	width: 34px;
}
.connect a.twitter {
	background-position: -46px -194px;
	width: 40px;
}
.connect a.facebook:hover {
	background-position: 0 -112px;
}
.connect a.googleplus:hover {
	background-position: 0 -153px;
}
.connect a.twitter:hover {
	background-position: 0 -194px;
}
	

/*====================================================Copyright All Reserved==========================================================*/
.bawah{
	background: #000;
	float:left;
	width:100%;
	/*text-align: center;
	list-style-position:outside;*/
}
.bawah .copy{
	height:10px;
	float: left;
	display: inline-block;
	color: #EEE;
	text-align:center;
	width: 1350px;
	/*margin-right: 10px;*/
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Tampilan event.html>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*====================================================Menu Event==========================================================*/
.event{
	/*background:#999;*/
	width:98%;
	margin:1%;
}
.event .namaevent{
	float:left;
	background:none;
	width:25%;
	height:600px;
	/*border-right-style:  solid;
	border-right-color: #900;*/
	margin-right:5px;
	border-radius:6px;
	padding-right:5px;
	margin-bottom:5px;
}
.event .penjelasan{
	float:left;
	width:53%;
	text-align:justify;
	color: #010;
	font-size:14px;
	margin-bottom:5px;
}
.event .sponsor{
	float:left;
	border-radius:4px;
	width:20%;
	height:500px;
	/*border-left-style: solid;
	border-left-color: #900;*/
	padding-top:5px;
	margin-left:5px;
	padding-left:5px;
	margin-bottom:5px;
}
	
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Tampilan profil.html>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*====================================================Menu Event==========================================================*/
.band{
	/*background:#999;*/
	width:98%;
	margin:1%;
}
.band .daftarband{
	float:left;
	/*background:#3CF;*/
	width:25%;
	height:600px;
	margin-right:5px;
	padding-right:5px;
	/*border-right: solid;
	border-right-color:#006;*/
}
.band .status{
	float:right;
	width:74%;
	height:120px;
	/*border-bottom-style: solid;
	border-bottom-color: #700;*/
	margin-bottom:5px;
	padding-bottom:5px;
}
.band .status .letak{
	margin-top:20px;
	background:#111;
	color:#EEE;
	font-style:inherit;
	font-size:14px;
	border:solid;
	border-color:#FFF;
	border-radius:8px;
	padding:4px;
}
.band .lagu{
	float:right;
	/*background:#E00;*/
	width:74%;
	height:400px;
	/*border-bottom-style: solid;
	border-bottom-color: #700;*/
	margin-bottom:5px;
	padding-bottom:5px;
}
.band .photo{
	float:right;
	/*background: #939;*/
	width:74%;
	height:600px;
	margin-bottom:8px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Tampilan contact.html>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*===========================================================Tampilan============================================================*/
.garis{
	background:url(images/bg-soil.jpg) center;
	color:#FFF;
	width:98%;
	border-radius:3px;
	text-align:center;
	font-size:12px;
	margin-right:1%;
	margin-left:1%;
	margin-bottom:5px;
}
.contents .contact {
	min-height: 500px;
	background: url(images/white_grey_background_upside_down.jpg) center;
	border-radius:6px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:5px;
	padding:20px;
}
.contact form {
	width: 605px;
	margin: 0 0 30px;
	width:98%;
	font-size:30px;
}
.contact label {
	display: inline-block;
	font-size: 14px;
	width: 110px;
	margin: 0 0 12px;
	padding: 0 10px 0 0;
	text-align: right;
}
.contact label .msg {
	vertical-align: top;
}
.contact input .txtfield {
	height: 28px;
	line-height: 28px;
	width: 460px;
	border: 1px solid #bbbbbb;
	margin: 0 0 12px;
	padding: 0 4px;
}
.contact textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	height: 283px;
	line-height:24px;
	width: 460px;
	border: 1px solid #bbbbbb;
	margin: 0 0 12px;
	padding: 0 4px;
	overflow: auto;
	resize: none;
	border: groove;
}
/*.contact input .btn {
	background:url(images/bg-pattern.jpg);
	color: #000;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	border: 0;
	border-radius: 5px;
	margin-left: 124px;
	padding: 0 10px;
}
.contact input .btn:hover {
	background: url(images/header-bg.jpg);
}*/

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<arf.html,dit.html,krai.html,chr.html,about.html>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*====================================================tampilan==========================================================*/
.list{
	background:url(images/bg-soil.jpg) center;
	color:#FFF;
	width:98%;
	margin-top:0;
	margin-right:1%;
	margin-left:1%;
	margin-bottom:5px;
	border-radius:3px;
	text-align:center;
	font-size:12px;
	padding:0;
}
.profus{
	/*background-color:#6FF;*/
	width:98%;
	/*height:800px;*/
	margin-left:1%;
	margin-right:1%;
	margin-bottom:5px;
}
.profus .tengah{
	float:left;
	width:50%;
	margin-bottom:5px;
	/*height:100%;*/
}
.profus .tengah .identitas{
	/*background:#09F;*/
	float:right;
	width:75%;
	margin-bottom:5px;
	/*height:100%;*/
}
.profus .tengah .identitas .imgs{
	border-style: solid;
	/*width:100%;*/
	height:300px;
	border-color:#000;
	margin-bottom:5px;
	border-radius:8px;
}
.profus .bagikanan{
	float:right;
	width:50%;
	margin-bottom:5px;
	/*height:100%;*/
}
.profus .bagikanan .idenlengkap{
	background: url(images/background-blog-web.jpg);
	float:left;
	width:75%;
	color:#FFF;
	text-align:justify;
	font:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	/*height:100%;*/
	margin:0;
	padding:10px;
	margin-bottom:5px;
	border-radius:8px;
}
.profus .bagikanan .idenlengkap .grs{
	border-style:solid;
	border-color: #900;
	margin-bottom:10px;
	margin-top:10px;
}
.bbm{
	margin-left:46px;
	width:240px;
	height:320px;
	border:solid;
	border-color:#222;
	border-radius:10px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<login_member_admin.html>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*===========================================================header============================================================*/
.headerfix{
	width: 800px;
	height: 129px;
	position: absolute;
}
ul.menu {list-style:none; margin:0; padding:0;}
ul.menu * {margin:0; padding:0;}
ul.menu a {display:block; color:#000; text-decoration:none; font-family: verdana;}
ul.menu li {position:relative; float:left; margin-right:0;}
ul.menu ul {position:absolute; top:0; left:0; background:#d1d1d1; display:none; opacity:0; list-style:none;}
ul.menu ul li {position:relative; width:130px; margin:0;}
ul.menu ul li a {display:block; padding:0; background:url(images/bg-pattern.jpg);}
ul.menu ul li a:hover { background:url(images/background-blog-web.jpg);}
ul.menu .menulink {border:1px solid #aaa; padding:0; font-weight:bold; background-color:#FFF transparent; width:0;}
ul.menu .menulink:hover, ul.menu .menuhover {background: #996;}
.setting{
	background: url(images/white_grey_background_upside_down.jpg);
	width:94%;
	margin:1%;
	padding:2%;
	border-radius:10px;
	height:400px;
}
.jarak{
	height:20px;	
}
.jarak1{
	height:30px;	
}


/*===========================================================Layout Komentar================================================================*/
.komen{
	width: 800px;
	font-family:Verdana, Geneva, sans-serif;
	height: auto; 
	background: rgba(255,255,255,0.3);
	padding-bottom: 1px;
}
.tampilkomen{
	margin-top:20px;
	font-size: 14px;
	padding: 7px;
	margin: 10px;
	background: rgba(0,0,0,0.9);
	border-radius: 6px;
	color: #fff;
}
.mail{
	color:#36F;
	font-style:italic;
}
.nama{
	color:#F00;
	font-style:inherit;
}
.komentar{
	background:none;
	color:#0B0;
	font-style:italic;
}























